<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Aman Raj</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:ital,wght@1,600&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <h1>I'm Aman Raj</h1>
    <h2>An Aspiring Developer</h2>
  </div>


  <div class="middle-container">
    <div class="profile">
      <img class="profile-pic" src="images/profpic.png" alt="Profile picture">
      <h2>Hello.</h2>
      <p class="intro">I am a Beginner level <em><strong>Android</strong></em> app developer and Programmer. Coding while munching on snacks is my favourite thing to do.</p>
      <p class="intro1"><em>Admin of Instagram page <a href="https://www.instagram.com/thegaietythoughts/"> <strong>@thegaietythoughts</strong></a> and developer of <a href="https://wittycodes.wixsite.com/friendsspot"><strong>FriendsSpot</strong></a>
          Android App </em></p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills</h2>
      <div class="skill-row">
        <img class="java" src="images/java.png" alt="Java">
        <h3>Java Programming</h3>
        <p>Competitive programming using JAVA language and having in depth knowledge in java.</p>
      </div>
      <div class="skill-row">
        <img class="android" src="images/android.png" alt="android">
        <h3>Android App developement</h3>
        <p>Built basic android apps like mini notepad, timer, brain trainer, quiz app, currency convert and learning in more details the android app development.</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>Are you a F.r.i.e.n.d.s freak too?</h3>
      <p class="contact-message">lets binge watch it together as we code and munch on our favourite snacks.</p>
      <a class="btn" href="#">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="#">LinkedIn</a>
    <a class="footer-link" href="#">Twitter</a>
    <a class="footer-link" href="#">Website</a>
  </div>

</body>

</html>
