<!DOCTYPE html>
<html lang="en-UK">
  <!--  -->
  <meta content="text/html", charset="UTF-8">
  <!--  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="main.js" type="text/javascript"> </script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Mulish&family=Nunito+Sans&family=Rubik&display=swap');
    </style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <head>
    <link rel="stylesheet" href="style.css">

    <title>Page Title</title>
    </head>


<body>
    <div>
        <ul class="topnav">
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <div id="main" class="container">
        <h1 id="intro">Welcome I am a UX/UI Designer</h1>
        <p>Your name</p>
    </div>

   <div>
        <ul class="social-links">
          <li><a href="https://www.instagram.com/in/username" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.linkedin.com/in/username" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.pinterest.com/in/username" target="_blank"><i class="fa fa-pinterest"></i></a></li>
        </ul>
       
  </div>



    <div class="gallery">
        <div class="image">
          <img src="Assets/images/1.jpg" alt="Image 1">
        </div>
        <div class="image">
          <img src="Assets/images/2.jpg" alt="Image 2">
        </div>
        <div class="image">
          <img src="Assets/images/3.jpg" alt="Image 3">
        </div>
        <div class="image">
          <img src="Assets/images/4.jpg" alt="Image 4">
        </div>
    </div>

    <div id="about">
        <h3>I am ....</h3>
        <p>Information about you</p>
        <p>Information about your skills</p>
    </div>

    <div class="contact" id="contact">
      <h4>Contact me here!</h4>
    </div>


</body>
</html>