<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Kunal Singh Portfolio</title>
</head>
<body>
    <header>
        <h1>Kunal Singh</h1>
        <p>Web Developer</p>
    </header>

    <nav>
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <section id="about">
    <h2>About Me</h2>
        <p> 
            Kunal - Web Developer 
            Hello, I'm Kunal, a passionate web developer with a flair for crafting digital experiences. I find joy in translating creative ideas into elegant and functional websites. With a love for clean code and an eye for detail, I'm dedicated to creating seamless user interfaces that leave a lasting impression.
            My journey in web development has been an exciting one, filled with opportunities to learn and grow. I'm well-versed in a variety of web technologies, from HTML, CSS, and JavaScript to front-end and back-end frameworks. I thrive on tackling complex challenges and turning them into innovative solutions.
            When I'm not coding, you'll likely find me exploring new web development trends or sipping a cup of coffee while brainstorming my next project. I believe that the web is an ever-evolving canvas, and I'm here to paint it with creativity and functionality.
            Let's connect, collaborate, and build something remarkable together. Whether you have a project in mind or just want to chat about web development, feel free to reach out. I'm here to bring your digital vision to life.
            .</p>
    </section>

    <section id="portfolio">
        <h2>Portfolio</h2>
        <div class="portfolio-item">
            <h3>Project 1</h3>
            <p>E-Commerce website </p>
        </div>
        <div class="portfolio-item">
            <h3>Project 2</h3>
            <p>Calculator Project</p>
        </div>
        <!-- Add more portfolio items as needed -->
    </section>

    <section id="contact">
        <h2>Contact Me</h2>
        <p>Email: kunalsingh123@email.com</p>
    </section>

    <footer>
        <p>&copy; 2023 Kunal Singh</p>
    </footer>
</body>
</html>
