<link rel = "stylesheet"
   type = "text/css"
   href = "Portfolio_Template_CodeTamaraCode.css" />

<html>
  <body>

<!--Navigation Bar-->
    
  <nav id='navbar'>
    <ul class="nav-list">
      <li>
        <a href="#hello" class='nav'>Hello</a>
      </li>
      <li>
        <a href="#projects" class='nav' />Projects</a>
      </li>
      <li>
        <a href="#contact" class='nav'>Connect</a>
      </li>
    </ul>
  </nav>

<!--Introduce Yourself Here...Update text to your information-->

  <section id = 'hello'>
      <img id = 'pinkdesk' src='https://cdn.pixabay.com/photo/2017/05/11/11/15/workplace-2303851_960_720.jpg'>
      <div class="intro-text1">Hello, I'm</div>
      <div class="intro-text2">Sandra.</div>
      <div class="intro-text3">Front-End Web Developer.</div>
</section>
    
 <!--Projects Section...Update web addresses and add image links to your projects below-->

   <section id='projects'>
    <h1 class='sec-header'>Projects</h1>
    <div class='proj-grid'>
      <a href='https://www.yourproject1here.com' target='blank' class='project-tile' id='project1'>Project 1</a>
      <a href='https://www.yourproject2here.com' target='blank' class='project-tile' id='project2'>Project 2</a>
      <a href='https://www.yourproject3here.com' target='blank' class='project-tile' id='project3'>Project 3</a>
      <a href='https://www.yourproject4here.com' target='blank' class='project-tile' id='project4'>Project 4</a>
    </div>
  </section>

<!--Contacts Section...Update the social media URLs to your pages-->

  <section id = 'contact'>
    <h1 class = 'sec-header'>Connect</h1>
    <div id = 'contact-box'>
      <a id ='github' href='https://github.com/yourgithubhere' target='blank'>
        <img src = 'https://i.imgur.com/jnZVmBN.png'></a>
      <a id = 'twitter' href = "https://twitter.com/yourtwitterhere" target = 'blank'>
        <img src = 'https://i.imgur.com/LifNTaz.png'></a>
      <a id = 'instagram' href = "https://www.instagram.com/yourinstahere" target = 'blank'>
        <img src = 'https://i.imgur.com/YXNekq5.png'></a>
      <a id = 'linkedin' href = "https://www.linkedin.com/yourlinkedinhere" target = 'blank'>
        <img src = 'https://i.imgur.com/fzHScQ3.png'></a>
    </div>
  </section>
  </body>
</html>

<!--Template made by Tamara Glidewell-->