<html>
    <head>
    <title>SUDHANSHU | Personal Website</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
        
    </head>
    
<body>
 <div class="main">
    
   <center>

       <a class="btn btn-primary" href="#" role="button">HOME</a>
       <a class="btn btn-primary" href="#" role="button">ABOUT</a>
       <a class="btn btn-primary" href="#" role="button">CONTACT</a>
        <div class="about">
            
            <img src="img/default.png" class="main-img">
            <h3><span>SUDHANSHU</span></h3>
            <button class="btn btn-lg btn-yellow">Hello, Glad to see you here!</button>
            <p>I am interested in web development and networking. also, I am learning web design in adobe xd.. Presently I am undergraduate at 
                        <a href="https://www.cuchd.in/" target="_blank">Chandigarh University .</a>
                         <br/><span>Thank You for Visiting!</span>
            </p>
          
           <p>Ping me at <a href="mailto:cse.17bcs1768@gmail.com">cse.17bcs1768@gmail.com</a></p>
            
            <hr>
            <button class="btn btn-lg btn-yellow">certification and achievements</button>
             <div class="card mb-3" style="max-width: 540px;">

  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="img/certificate1.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">certification title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="img/certificate2.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">certification title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>

            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="github.com/sudhanshu150"><i class="fa fa-github"></i></a></li>
            </ul>
            
          </div>
       
    </center>
    
 </div>
    
</body>
   
</html>