<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top head">
        <div class="container">
          <ul class="nav nav-pills col-md-2">
            <li><a href="#">
              <img src="http://www.swydo.com/images/s-logo.png" alt="" width="60px"/>
              </a>
           </li>
          </ul>
          <ul class="nav nav-pills navbar-right">
            <li class="presentation">
              <a class="btn btn-danger scrollable" href="#" >HOME</a>
            </li>
            <li class="presentation">
              <a class="btn scrollable" href="#portafolio">PORTAFOLIO</a>
            </li>
            <li class="presentation">
              <a class="btn" href="#">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
  
      <div class="container">
  
        <!-- Main component for a primary marketing message or call to action -->
        <div class="row home-section">
          <h1 class="text-center scrollable">HOME</h1>
          <div class="row">
            <div class="col-md-6">
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, officiis cum, consequuntur repellat atque ducimus aspernatur, non fugit nisi praesentium voluptate libero nostrum. Id reiciendis, temporibus architecto earum odio debitis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, inventore, natus. Labore accusamus, quibusdam, quos, adipisci quaerat placeat veniam consequatur explicabo eligendi sed corporis nemo nobis impedit rerum at aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto aliquid iste, cum, ducimus hic nisi vero possimus perferendis delectus, obcaecati sequi animi placeat consectetur magni repellat quaerat et error!</p>
            </div>
            <div class="col-md-6"><img src="https://secure.static.tumblr.com/a371b39280d46414902ecfe3c3d42f6f/tm87e8y/QqOn78djo/tumblr_static_dragonart_g__9_.jpg" alt="" class="img-responsive img-circle"/></div> 
          </div>
        </div>
        <div class="row portafolio-section" id="portafolio">
          <h2>PORTAFOLIO</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati doloribus non accusantium, voluptas odit saepe illo modi quaerat consequatur totam! Similique provident obcaecati, minima itaque fugiat sit ducimus commodi delectus! ipsum dolor sit amet, consectetur adipisicing elit. Adipisci magnam, porro, aliquam veniam vero officia, voluptatem doloremque, autem quidem modi magni. Similique inventore, fugiat odit earum autem nemo laborum esse. ipsum dolor sit amet, consectetur adipisicing elit. Ex consectetur praesentium atque at magnam eum, commodi nulla nobis fuga eaque enim nam, accusantium sequi perspiciatis, similique ad voluptas quia facere!</p>
          <div class="row">
            <div class="col-md-6">
              <img src="https://www.wired.com/wp-content/uploads/2014/12/9-credit-1.jpg" alt="" class="img-responsive" />
            </div>
            <div class="col-md-6">
              <img src="http://static1.businessinsider.com/image/56cdeac86e97c625048b95af/17-of-the-most-jaw-dropping-images-in-the-running-for-the-worlds-largest-photography-contest.jpg" alt="" class="img-responsive" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img src="http://www.planwallpaper.com/static/images/offset_WaterHouseMarineImages_62652-2-660x440.jpg" alt="" class="img-responsive" />
            </div>
            <div class="col-md-6">
              <img src="https://i.dailymail.co.uk/i/pix/2016/03/22/13/32738A6E00000578-3504412-image-a-6_1458654517341.jpg" alt="" class="img-responsive" />
            </div>
          </div>
        </div>
        <div class="row contact-section">
          <h2>CONTACT</h2>
          <form action="#">
            Nombre: <input type="text" />
          </form>
        </div>
      </div> 
      <!-- /container -->
      <script src="./app.js"></script>
</body>
</html>