<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<title>Hello Viewers</title>
<style>
    .card {
      box-shadow: 0 4px 8px 0 rgb(57, 255, 20);
      transition: 0.3s;
      width: 40%;
    }
    
    .card:hover {
      box-shadow: 2px 8px 16px 0 rgb(57, 255, 20);
    }
    
    .container {
      padding: 25px 25px;
      margin: 0 41% 0 41%;
    }

    body{
        background-color: black;
    }
</style>
</head>
<body>
    <div class="container center">
    <div class="card text-center center" style="width: 18rem;">
        <img class="card-img-top" src="img/dribbble.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rutam Prita Mishra</h5>
          <p class="card-text">Hello Viewer, I am currently contributing at Hacktoberfest 2021.</p>
          <h6 >Contact: </h6> <p>xxxxxxxxxxx</p>
          <h6>Email: </h6> <p>xxx@xxx.xxxx</p> <br/>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Say Hello</button>
        </div>
      </div>

      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thanks for Visiting!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          It was nice e-meeting you. Have a Good Day.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>