.list .num {
    padding: 0.5rem 0rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .list .num:nth-child(0):before {
    content: '0';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }

  .list .num:nth-child(1):before {
    content: '1';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
.list .num:nth-child(2):before {
    content: '2';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.list .num:nth-child(3):before {
    content: '3';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
.list .num:nth-child(4):before {
    content: '4';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
.list .num:nth-child(5):before {
    content: '5';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
.list .num:nth-child(6):before {
    content: '6';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
.list .num:nth-child(7):before {
    content: '7';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
.list .num:nth-child(8):before {
    content: '8';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
.list .num:nth-child(9):before {
    content: '9';
    font-size: 4rem;
    font-weight: bold;
    color: #000;
    width: 2rem;
    opacity: 0.05;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
.list .num h3 {
    position: relative;
    left: -1.5rem;
    color: #3d3d3d;
    font-size: 1.2rem;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
.list .num:hover {
    background-color: #fafafa;
    cursor: pointer;
  }
.list .num:hover:before {
    opacity: 0.2;
  }
.list .num:hover h3 {
    left: 1rem;
  }

.perk{
    width: 20rem;
}

.p-font-perk{
    font-size: 1.25rem;
}