<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap" rel="stylesheet"> 
    <title>Ahmed Hamza | Front-end Developer</title>
</head>
<body>
   <header>
       <nav>
           <ul>
               <li><a href="#work">Works</a></li>
               <li><a href="#posts">Blog</a></li>
               <li><a href="#contact">Contact</a></li>
           </ul>
       </nav>
   </header>

   <section class="hero-section">
       <div class="hero-inner">
           <div class="col-left">
               <h1>Hi, I am Ahmed, <br>Front-End Developer.</h1>
               <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
               <div class="btn">
               <a href="https://linkedin.com/in/ahmedhamzaarif" target="_blank">Let's Connect</a>
               </div>
           </div>
           <div class="col-right">
               <img src="./assets/images/img.jpeg" alt="pic" srcset="" class="dp">
           </div>
       </div>
   </section>

   <section id="posts" class="posts-section">
       <div class="posts-section-inner">
        <div class="posts-header">
            <h2>Recent Posts</h2>
            <a href="index.html">View all</a>
        </div>
        <div class="posts">
         <article class="post-item">
             <header>
             <h3>Making a design system from scratch</h3>
             </header>
             <div class="meta">
                 <span>12 Feb 2020</span> <span>|</span> <span>Design, Pattern</span>
             </div>
             <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
         </article>
         <article class="post-item">
             <header>
             <h3>Creating pixel perfect icons in Figma</h3>
             </header>
             <div class="meta">
                 <span>12 Feb 2020</span> <span>|</span> <span>Figma, Icon Design</span>
             </div>
             <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
         </article>
        </div>
       </div>
   </section>
   
   <section id="work" class="featured-section">
    <div class="fs-inner">
        <div class="fs-header">
            <h2>Featured Works</h2>
        </div>
        <div class="fs-list">
            <div class="fs-item">
                <div class="fs-item-left">
                    <img src="assets/images/blog-images/blog-img-1.jpg" alt="">
                </div>
                <div class="fs-item-right">
                    <h3>Designing Dashboards</h3>
                    <div class="item-meta">
                        <div class="badge">2020</div>
                        <div class="category">Dashboard</div>
                    </div>
                    <div class="description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
            </div>

            <div class="fs-item">
                <div class="fs-item-left">
                    <img src="assets/images/blog-images/blog-img-2.jpg" alt="">
                </div>
                <div class="fs-item-right">
                    <h3>Vibrant Portraits of 2020</h3>
                    <div class="item-meta">
                        <div class="badge">2020</div>
                        <div class="category">Illustration</div>
                    </div>
                    <div class="description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
            </div>

            <div class="fs-item">
                <div class="fs-item-left">
                    <img src="assets/images/blog-images/blog-img-3.jpg" alt="">
                </div>
                <div class="fs-item-right">
                    <h3>36 days of Malyalam type</h3>
                    <div class="item-meta">
                        <div class="badge">2018</div>
                        <div class="category">Typography</div>
                    </div>
                    <div class="description">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </div>
                </div>
            </div>
        </div>
    </div>
   </section>

   <section id="contact" class="footer-section">
    <div class="footer-inner">
        <div class="social-btns">
            <a href="http://facebook.com/ahmedhamzaarif/"><img src="assets/images/social-icons/facebook.png" alt=""></a>
            <a href="http://instagram.com/ahmedhamzaarif/"><img src="assets/images/social-icons/instagram.png" alt=""></a>
            <a href="http://github.com/ahmedhamzaarif/"><img src="assets/images/social-icons/github.png" alt=""></a>
            <a href="http://linkedin.com/in/ahmedhamzaarif/"><img src="assets/images/social-icons/linkedin.png" alt=""></a>
        </div>
        <div class="copyright">Copyright ©2022 All rights reserved </div>
    </div>
   </section>
</body>
</html>