<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="main_wrapper ">
        <div class="sidebar " >
            <div class="sidebar_header">
                <div class="sidebar_header_content">Nikita Chavan
                </div>
            </div>
            <div class="sidebar_navigation">
                <div class="sidebar_navigation_item">Download CV</div>
                <div class="sidebar_navigation_item">Qualification</div>
                <div class="sidebar_navigation_item">Know Me</div>
            </div>
        </div>
        <div class="main_area">
            <div class="main_area_header ">
                <ul>
                    <li>About Me</li>
                    <li>Skills</li>
                    <li>Contact</li>
                </ul>

            </div>       
            <div class="profile_wrapper "></div>
            <div class="main_area_content ">
                <div class="main_area_content_sub_heading">
                    Hey!!!
                </div>
                <div class="main_area_content_heading">
                    I am Nikita Chavan
                </div>
                <div class="main_area_content_para">I am a front-end developer from India. You can view my works here. Presently I am undergraduate student at Dr. B.A. College.
                  </div>
            </div>     
        </div>
    </div>
   
</body>

</html>