<!DOCTYPE HTML>
<html>
	<head>
		<title>thevirtualbuddy</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="images/tvb.png" alt="" width="122" height="122"/></span>
							<h1>Sonu Saha</h1>
							<p>Aspiring Python Developer<br>Opensource Enthusiast</p>
						</header>

						<footer>
							<ul class="icons">
								<li><a href="https://twitter.com/thevirtualbuddy" class="icon brands fa-twitter">Twitter</a></li>
								<li><a href="https://www.linkedin.com/in/sonu-saha-a97754131/" class="icon brands fa-linkedin">Linkedin</a></li>
								<li><a href="https://github.com/thevirtualbuddy" class="icon brands fa-github">Github</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; <a href="https://github.com/thevirtualbuddy">thevirtualbuddy</a></li><li>Thank you <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>