<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>

    <link href="css/style.css" rel='stylesheet'>
</head>
<body>
    <header>
        <div class='image'>
            <img src="img/profile.png" alt='wimansha-photo'>
        </div>
        <div class='heading'>
            <h1>Wimansha herath</h1>
        </div>
        <div class='tagline'>
            <h3 class='typewriter' data-type='["Programmer","Reseacher","Speaker"]' data-period="2000"></h3>
        </div>
        <div class='desc'>
            <p></p>
        </div>
    </header>
    <main>
        <h5>Glad to see you here</h5>
    </main>
    <footer>
        <h6>&copy;Copyrights Wimansah. All rights reserved.</h6>
    </footer>

    <script src="js/script.js"></script>
</body>
</html>