<!DOCTYPE html>
<html lang="en">
    <!--- For male -->
    <head>
    <title>Logesh Palani | Biography</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    </head>
<body>
 <div >
        <div >
            <img src="download.jpg" style="max-width: 50%; border: 3px solid blue; border-radius: 50%; ">
            <h3><span>Logesh Palani</span></h3>
            <button style="background-color: yellow; border-radius: 20%; border-color: green; text-decoration-color: blue;">Hey, Guys, Nice to see you!</button>
            <p>I'm a Associate Software Engineer. Intrested in Mobile App,web, data and more. Having exxpereice in building mobile apps with xamarin</p>
          </div>
          <div style="float: left;">
            <button><a href="github.com/logeshpalani98" >Github</a> </button>
              <button><a href="facebook.com/logeshpalani98"> Facebook</a></button>
              <button><a href="twitter.com/logeshpalani98"> Twitter</a></button>
          </div>
 </div>
</body>
</html>