<!DOCTYPE html>
<html lang="en">

  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Portfolio | Arupam</title>
    <link href="css/main.css" rel="stylesheet">
  </head>

  <body>
    <header class="site-header">
      <!--Sample profile pic-->
      <img class="profile-pic" 
      src="https://images.unsplash.com/photo-1517423440428-a5a00ad493e8?ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80" 
      alt="Profile pic">

      <div class="site-header-content">
        <h1 class="intro-line">Hey! I am Arupam</h1><br>
        <div class="about-text">
          <!--Sample bio text and about -->
          <h4>18 | Student | Programmer | Gamer</h3>
            <h4>I am an Aspiring full stack developer moreover a good developer who writes clean bliss like code, Currently pursuing my majors in Computer Science Engineering in VIT Vellore (Freshmen Year).
            </h3>
            
            
        </div>
        <h5 class="connect-text">Keep a look at this space for my upcoming projects. or connect with me at social platforms
        </h5>
      </div>
    </header>

    <footer>
      <div class="footer-social-icons">
        <h4 class="social-link-text">Connect me on</h4>
        <ul class="social-icons">
            <!--Social media links can be added here-->
          <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-steam"></i></a></li>
          <li><a href="" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </footer>

  </body>

</html>
