<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>ML/Python</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/star.png" type="image/x-icon" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Indie+Flower'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href='../css/web_projects.css'>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/services.css">
        <link rel="stylesheet" href="../css/animate.css">
        <link rel="stylesheet" href="../css/flexslider.css">
    </head>

    <body>
        <div class="header">
            <div class="fixed-content">
                <img class="port" src="../img/pic01.jpg">
                <h2>Chandrika Deb</h2>
                <p style="color:#fff;">Web Developer | ML Enthusiast</p>
                <div class="icon-row">
                    <a href="https://github.com/chandrikadeb7"><i class="fa fa-github"></i></a>
                    <a href="https://medium.com/@chandrikadeb7"><i class="fa fa-medium"></i></a>
                    <a href="https://www.linkedin.com/in/chandrika-deb/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/chandrikadeb7"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="fixed-content">
                <h1>Machine Learning</h1>
                <p>Here are some of the ML/Python projects.</p>
            </div>
        </div>

        <!-- ****************************************PROJECT START***************************************************************  -->
        <section class="colorlib-experience" data-section="experience">
            <div class="colorlib-narrow-content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <h2>Machine Learning / Python Projects</h2>
                        <hr>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="timeline-centered">
                                <script type="text/javascript">
                                    var timeSpan = ["Dec 2019 - Jan 2020", "Feb 2020 - Present"];
                                    var AT = ["Face Recognition in Python", "Face Mask Detection"]
                                    var internType = ["Personal Project", "Major Project (8th semester)"];
                                    var descriptions = [
                                        "A real time face recognition system developed in Python using Pillow, OpenCV and NumPy",
                                        "Face mask detection system using Deep learning. Under the guidance of Prof. A.K. Choudhary, Faculty, BIT Mesra."
                                    ];
                                    var iclass = ["camera", "search"];
                                    var urls = ["https://github.com/chandrikadeb7/Face-Recognition-in-Python",
                                        "https://github.com/chandrikadeb7/Face-Mask-Detection"
                                    ];
                                    var color = [5, 1, 2];
                                    for (let i = 0; i < AT.length; i++) {
                                        var dir = (i % 2 == 0) ? "Right" : "Left";
                                        document.write(
                                            '<article class="timeline-entry animate-box" data-animate-effect="fadeIn' +
                                            dir + '">\
                                    <div class="timeline-entry-inner">\
                                        <div class="timeline-icon color-' + color[i] + '">\
                                            <i class="fa fa-' + iclass[i] + '"></i>\
                                        </div>\
                                        <div class="timeline-label">\
                                            <h2><a href="' + urls[i] + '">' + AT[i] + '</a> <span>' + timeSpan[i] + '</span></h2>\
                                            <p><strong><a href="' + urls[i] + '">' + internType[i] + '</a></strong>\
                                                <br> ' + descriptions[i] + '</p>\
                                            <p></p>\
                                        </div>\
                                    </div>\
                                </article>');
                                    }

                                </script>
                                <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                                    <div class="timeline-entry-inner">
                                        <div class="timeline-icon color-3">
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
        </section>

        <!-- ****************************************PROJECT END****************************************************************  -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="../js/jquery.easing.1.3.js"></script>
        <script src="../js/jquery.waypoints.min.js"></script>
        <script src="../js/jquery.flexslider-min.js"></script>
        <script src="../js/owl.carousel.min.js"></script>
        <script src="../js/jquery.countTo.js"></script>
        <script src="../js/services.js"></script>
        <script src="../js/modernizr-2.6.2.min.js"></script>
        <script src="../js/script.js"></script>
        <div class="footer">
            <div class="second">
                <div class="fixed-content">
                    <h1>Contact Me</h1>
                </div>
            </div>
            <div class="fixed-content">
                <div class="icon-row blue">
                    <a href="https://twitter.com/chandrikadeb7"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/chandrika17deb/"><i class="fa fa-facebook"></i></a>
                    <a href="mailto:chandrikadeb7@gmail.com"><i class="fa fa-envelope"></i><a/a> <a
                            href="https://stackoverflow.com/users/11589082/chandrika-deb"><i
                                class="fa fa-stack-overflow"></i></a>
                        <a href="https://www.instagram.com/___cd.___/?hl=en"><i class="fa fa-instagram"></i></a>
                </div>
                <p></p>
                <i class="fa fa-chevron-up black" style="color:#000;"
                    onclick="window.scroll({  top: 0,  left: 0,  behavior: 'smooth'});"></i>
            </div>
        </div>
    </body>

</html>
