<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>FCC - Potfolio Website</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<html>
    <head>
        <title>MADHAV BAHL | My Portfolio</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- Main stylesheet -->
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <!-- Navbar -->

        <div class="navbar-fixed">
                
            <nav class="black">
                <div class="container">
                    <div="nav-wrapper">
                        <a href="#"  class="brand-logo">Madhav Bahl</a>
                        <ul class="right hide-on-med-and-down" id="navList">
                            <li><a href="#landing">Home</a></li>
                            <li><a href="#intro">About Me</a></li>
                            <li><a href="#work">Projects</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            
        </div>

        <!-- Landing Screen -->

        <div class="section" id="landing">
                <h5 id="mainText" class="center">My Name Is</h5>
                <h1 style="color: white;"  class="center">
                    MADHAV <b>BAHL</b>
                </h1>
                <h6 id="mainText" class="center">An Opensource Developer</h6>
                
        </div>

        <!-- Intro and service -->

        <div id="intro" class="section black">
            <div class="container">
                <div class="row">
                    <div  class="col s12">
                        <h2 class="center header"> "If you love life, don't waste time, 
                                for time is what life is made up of"</h2>
                    </div>
                </div>
                <div class="row center">
                    <div class="col s12 m12 l3">
                        <img class="responsive-img" src="https://user-images.githubusercontent.com/26179770/37276853-0092da1a-2609-11e8-9baf-6edbf21afddd.png">
                    </div>
                    <dic class="col s12 m12 offset-l1 l8 ">
                        <h5 class="center"><b>ABOUT ME</b></h5>
                        <p>
                            I am Madhav Bahl presently pursuing Btech in Computer Science From Vellore Institute Of Technology. 
                            I am a Full Stack Web Developer and have made many projects using various frameworks.
                            <br />
                            <i>“If there's one thing you learn by working on a lot of different Web sites, 
                                it's that almost any design idea--no matter how appallingly bad--can be made usable in 
                                the right circumstances, with enough effort.” </i> 
                        </p>
                    </dic>
                </div>
            </div>
        </div>

        <!--Parallax-->
         <div id="p1" class="parallax-container">
            <div  class="parallax">
                <img src="https://user-images.githubusercontent.com/26179770/37276909-311e65d2-2609-11e8-9fb9-fa2a6838b02f.png">
                
            </div>
            <div class="container">
                <div class="row">
                    <div class="col s12 center white-text">
                        <h1><b>QUOTE</b></h1>
                        <h4 >"Don’t be trapped by dogma –
                            which is living with the results of other people’s thinking. <br />
                            Don’t let the noise of other’s opinions drown out your own inner voice."
                        </h4>
                    </div>
                </div>
            </div>
                
        </div>

        <!--Work-->
        <div class="section" style="background-color: #141414;" id="work">
            <div class="container">
                <h3 class="header text_b center">My Projects </h3>
                <div class="row ">
                    <div class="col s12 m12 l4">
                        <div class="card  black">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="https://user-images.githubusercontent.com/26179770/37276972-5da20028-2609-11e8-8359-4628ff3f1a94.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator purple-text text-lighten-5">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                                <p><a class="purple-text text-lighten-5" href="#">Project link</a></p>
                            </div>
                            <div class="card-reveal  black">
                                <span class="card-title purple-text text-lighten-5">Project Title <i class="mdi-navigation-close right"></i></span>
                                <p>Here is some more information about this project that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>  
                    <div class="col s12 m12 l4">
                        <div class="card  black">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="https://user-images.githubusercontent.com/26179770/37278850-07bbefd8-260f-11e8-83e6-eae457a97ff9.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator purple-text text-lighten-5">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                                <p><a class="purple-text text-lighten-5" href="#">Project link</a></p>
                            </div>
                            <div class="card-reveal  black">
                                <span class="card-title purple-text text-lighten-5">Project Title <i class="mdi-navigation-close right"></i></span>
                                <p>Here is some more information about this project that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="card  black">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="https://user-images.githubusercontent.com/26179770/37276972-5da20028-2609-11e8-8359-4628ff3f1a94.png">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator purple-text text-lighten-5">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                                <p><a class="purple-text text-lighten-5" href="#">Project link</a></p>
                            </div>
                            <div class="card-reveal  black">
                                <span class="card-title purple-text text-lighten-5">Project Title <i class="mdi-navigation-close right"></i></span>
                                <p>Here is some more information about this project that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    
        <!-- Skill Sets -->

        <div class="section" style="background-color: #101010;" id="skillsets">
            <div class="container">
                <div class="row">
                    <h1 class="center white-text">
                        My Skills
                    </h1>
                </div>
                <div class="row center">
                    <div class="col s12 m12 l3">
                        <img class="responsive-img" src="https://user-images.githubusercontent.com/26179770/37278917-3c5a76c4-260f-11e8-8a95-92f8b130f9be.png">
                    </div>
                    <div class="col s12 m12 l3">
                        <img class="responsive-img" src="https://user-images.githubusercontent.com/26179770/37278987-65f7f858-260f-11e8-8160-d538da73c4c3.png">
                    </div>
                    <div class="col s12 m12 l3">
                        <img class="responsive-img" src="https://user-images.githubusercontent.com/26179770/37279017-7c6112e6-260f-11e8-8165-5c3459c12222.png">
                    </div>
                    <div class="col s12 m12 l3">
                        <img class="responsive-img" src="https://user-images.githubusercontent.com/26179770/37279040-8e589b7c-260f-11e8-8d03-691c29f2a402.png">
                    </div>
                </div>
            </div>
        </div>

        <!-- Add FIXED ACTION BUTTON -->

        <div class="fixed-action-btn vertical">
            <a class="btn-floating btn-large  blue-grey darken-4">
                <i class="fa fa-globe"></i>
            </a>
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/pg/MadhavBahlMD/" class="btn-floating  blue darken-4"><i class="fa fa-facebook"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/MadhavBahlMD" class="btn-floating cyan lighten-1"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn-floating grey darken-3"> <i class="fa fa-github"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/madhavbahl/" class="btn-floating blue-grey lighten-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>

        <!-- FOOTER -->

        <footer class="section page-footer black">
          <div class="container center-align">
            &#169; Madhav Bahl 2017
          </div>
      </footer>

        
        
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>