<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>CV Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="W3.CSS%20Template2_arquivos/w3.css">
</head>

<body class="w3-content" style="max-width:1300px">

    <!-- First Grid: Logo & About -->
    <div class="w3-row">
        <div class="w3-half w3-teal w3-container w3-center" style="height:700px">
            <div class="w3-padding-64">
                <h1>Minha Logo</h1>
            </div>
            <div class="w3-padding-64">
                <a href="#" class="w3-button w3-black w3-block w3-hover-blue-grey w3-padding-16">Início</a>
                <a href="#work" class="w3-button w3-black w3-block w3-hover-teal w3-padding-16">Meu Trabalho</a>
                <a href="#work" class="w3-button w3-black w3-block w3-hover-dark-grey w3-padding-16">Resumo CV</a>
                <a href="#contact" class="w3-button w3-black w3-block w3-hover-brown w3-padding-16">Contato</a>
            </div>
        </div>
        <div class="w3-half w3-metro-green w3-container" style="height:700px">
            <div class="w3-padding-64 w3-center">
                <h1>Sobre Mim</h1>
                <img src="W3.CSS%20Template2_arquivos/avatar3.png" class="w3-margin w3-circle" alt="Person" style="width:50%">
                <div class="w3-left-align w3-padding-large">
                    <p>Lorem ipusm sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <p>Lorem ipusm sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Grid: Work & Resume -->
    <div class="w3-row">
        <div class="w3-half w3-light-grey w3-center" style="min-height:800px" id="work">
            <div class="w3-padding-64">
                <h2>Meu Trabalho</h2>
                <p>Alguns mais recentes.</p>
            </div>
            <div class="w3-row">
                <div class="w3-half">
                    <img src="W3.CSS%20Template2_arquivos/coffee.jpg" style="width:100%">
                </div>
                <div class="w3-half">
                    <img src="W3.CSS%20Template2_arquivos/workbench.jpg" style="width:100%">
                </div>
            </div>
            <div class="w3-row w3-hide-small">
                <div class="w3-half">
                    <img src="W3.CSS%20Template2_arquivos/workbench.jpg" style="width:100%">
                </div>
                <div class="w3-half">
                    <img src="W3.CSS%20Template2_arquivos/coffee.jpg" style="width:100%">
                </div>
            </div>

            <div class="w3-row w3-hide-small">
                <div class="w3-half">
                    <img src="W3.CSS%20Template2_arquivos/sound.jpg" style="width:100%">
                </div>
                <div class="w3-half">
                    <img src="W3.CSS%20Template2_arquivos/workbench.jpg" style="width:100%">
                </div>
            </div>
            <br>
            <p>Apenas diga que sou 'O Cara'.</p>
        </div>
        <div class="w3-half w3-indigo w3-container" style="min-height:800px">
            <div class="w3-padding-64 w3-center">
                <h2>Resumo</h2>
                <p>Um rascunho do meu Currículo</p>
                <div class="w3-container w3-responsive">
                    <table class="w3-table">
                        <tbody>
                            <tr>
                                <th>Ano</th>
                                <th>Título</th>
                                <th>Onde</th>
                            </tr>
                            <tr class="w3-white">
                                <td>2012-2016</td>
                                <td>Alguma coisa..</td>
                                <td>Lorem ipsum</td>
                            </tr>
                            <tr>
                                <td>2009-2012</td>
                                <td>Iniciando o meu negócio</td>
                                <td>Minha Garagem</td>
                            </tr>
                            <tr class="w3-white">
                                <td>2008-2009</td>
                                <td>Iniciando na empresa Lorem</td>
                                <td>São Paulo, SP</td>
                            </tr>
                            <tr>
                                <td>2005-2008</td>
                                <td>Graduação em Design</td>
                                <td>Harvard, USA</td>
                            </tr>
                            <tr class="w3-white">
                                <td>2002-2005</td>
                                <td>Bacharelado em Sistemas de Informação</td>
                                <td>RMIT University, Melbourne, Australia</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Third Grid: Swing By & Contact -->
    <div class="w3-row" id="contact">
        <div class="w3-half w3-dark-grey w3-container w3-center" style="height:700px">
            <div class="w3-padding-64">
                <h1>Onde Me Encontrar</h1>
            </div>
            <div class="w3-padding-64">
                <p>..nem que seja para uma xícara de café ou qualquer outra coisa.</p>
                <p>Rio de Janeiro, RJ</p>
                <p>+55 1515151515</p>
                <p>test@test.com</p>
            </div>
        </div>
        <div class="w3-half w3-teal w3-container" style="height:700px">
            <div class="w3-padding-64 w3-padding-large">
                <h1>Contate-me</h1>
                <p class="w3-opacity">Alguma dúvida ou quer me contratar?</p>
                <form class="w3-container w3-card w3-padding-32 w3-white" action="/action_page.php" target="_blank">
                    <div class="w3-section">
                        <label>Nome</label>
                        <input class="w3-input" style="width:100%;" type="text" required="" name="Name">
                    </div>
                    <div class="w3-section">
                        <label>E-mail</label>
                        <input class="w3-input" style="width:100%;" type="text" required="" name="Email">
                    </div>
                    <div class="w3-section">
                        <label>Mensagem</label>
                        <input class="w3-input" style="width:100%;" type="text" required="" name="Message">
                    </div>
                    <button type="submit" class="w3-button w3-teal w3-right">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-black w3-padding-16">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

</body>

</html>