<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Livio's WebDev Co.</title>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7a78fbc91d.js" crossorigin="anonymous"></script>

</head>

<body style="margin:0">
    <!-- Header Start -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#FFBA08">
        <tr>
            <td>
                <table border="0" width="80%" cellpadding="10" cellspacing="0" align="center">
                    <tr>
                        <td>
                            <font face="Tangerine" color="#49306B" size="10">Livio</font>
                        </td>
                        <td width="30%">&nbsp</td>
                        <td>
                            <a href="#home">
                                <font face="serif" color="#fff" size="4">Home</font>
                        </td>
                        <td>
                            <a href="#about">
                                <font face="serif" color="#fff" size="4">About</font>
                        </td>
                        <td>
                            <a href="#services">
                                <font face="serif" color="#fff" size="4">Services</font>
                        </td>
                        <td>
                            <a href="#portfolio">
                                <font face="serif" color="#fff" size="4">Portfolio</font>
                        </td>
                        <td>
                            <a href="#team">
                                <font face="serif" color="#fff" size="4">Team</font>
                        </td>
                        <td>
                            <a href="#contact">
                                <font face="serif" color="#fff" size="4">Contact</font>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Header End -->
    <!-- Home Start -->
    <table id="home" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#49306B">
        <tr>
            <td>
                <table border="0" width="50%" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td align="center" valign="middle">
                            <h3>
                                <!-- <marquee behavior="alternate" direction="right" scrollamount="4"> -->
                                <font face="Tangerine" color="#fff" size="6">Livio Mascarenhas</font>
                                <!-- </marquee> -->
                            </h3>
                            <h1>
                                <!-- <marquee behavior="alternate" direction="left" scrollamount="4"> -->
                                <font face="Tangerine" color="#FFBA08" size="5">&nbsp;&nbsp;&nbsp;&nbsp;Student of Agnel Polytechnic&nbsp;&nbsp;&nbsp;&nbsp;
                                </font>
                                <!-- </marquee> -->
                            </h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Home End -->
    <!-- About Start -->
    <table id="about" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#635380" height="100">
        <tr>
            <td>
                <table border="0" width="85%" cellpadding="10" cellspacing="0" align="center">
                    <!-- Heading Start-->
                    <tr>
                        <td height="160" align="center" valign="middle" colspan="2">
                            <font face="Tangerine" size="8" color="#FFBA08">About</font>
                            <hr width="100" color="#FFBA08">
                        </td>
                    </tr>
                    <!-- Heading End -->
                    <tr>
                        <td width="35%">
                            <img src="main.jpg" alt="me" width="100%">
                        </td>
                        <td width="65%" height="50" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td>
                                        <font face="Tangerine" size="7" color="#fff">I'm Livio Mascarenhas</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <font face="Tangerine" size="6" color="#fff">Student Of Agnel Polytechnic, Verna
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>
                                            <font face="Tangerine" size="5" color="#fdf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur rerum maxime sed dolorum autem numquam ipsum facere cum laudantium! Quos id quia commodi praesentium non, beatae error ipsum, omnis corrupti
                                                aliquid est aut dolor! Enim fuga iste voluptatibus eveniet ad accusantium, autem nisi, libero, deleniti sunt quod hic rerum consequuntur?
                                            </font>
                                        </p>
                                        <p>
                                            <font face="Tangerine" size="5" color="#fdf">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur rerum maxime sed dolorum autem numquam ipsum facere cum laudantium! Quos id quia commodi praesentium non, beatae error ipsum, omnis corrupti
                                                aliquid est aut dolor! Enim fuga iste voluptatibus eveniet ad accusantium, autem nisi, libero, deleniti sunt quod hic rerum consequuntur?
                                            </font>
                                        </p>
                                        <hr noshade color="#fdf">
                                        <br>
                                        <a href="https://www.facebook.com/Livio.Fran.Mascarenhas" target="_blank"><button><i class="fab fa-facebook" color="white"></i>&nbsp;
                                                <font face="IBM Plex Mono" size="3" color="#4267B2">Facebook</font>
                                            </button></a>
                                        <br>
                                        <br>
                                        <a href="https://www.instagram.com/x.wireless.brain.18.x/" target="_blank"><button><i class="fab fa-instagram"></i>&nbsp;<font
                                                    face="IBM Plex Mono" size="3" color="#D31C53">Instagram</font>
                                            </button></a>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <!-- start section padding bottom -->
                    <tr>
                        <td height="70" colspan="2">
                        </td>
                    </tr>
                    <!-- end section padding bottom -->
                </table>
            </td>
        </tr>
    </table>
    <!-- About End -->
    <!-- Start Srevices -->
    <table id="services" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#49306B">
        <tr>
            <td>
                <table border="0" width="85%" cellpadding="10" cellspacing="0" align="center">
                    <!-- Heading Start-->
                    <tr>
                        <td height="160" align="center" valign="middle" colspan="3">
                            <font face="Tangerine" size="8" color="#FFBA08">Services</font>
                            <hr width="100" color="#FFBA08">
                        </td>
                    </tr>
                    <!-- Heading End -->
                    <tr>
                        <td width="33.33%" align="center" valign="top" height="200">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center">
                                <tr>
                                    <td align="center" valign="middle" bgcolor="#635380" height="190">
                                        <font size="6" color="#FFBA08">
                                            <span class="fa fa-laptop"></span></font>
                                        <br><br>
                                        <font size="5" color="#FFDDFF"><strong>Web Development</strong></font>
                                        <br>
                                        <p>
                                            <font face="Tangerine" size="5" color="#fdf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut asperiores sunt magni, tempore neque impedit in?
                                            </font>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" align="center" valign="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center">
                                <tr>
                                    <td align="center" valign="middle" bgcolor="#635380" height="190">
                                        <font size="6" color="#FFBA08">
                                            <span class="fa fa-mobile"></span></font>
                                        <br><br>
                                        <font size="5" color="#FFDDFF"><strong>Responsive Design</strong></font>
                                        <br>
                                        <p>
                                            <font face="Tangerine" size="5" color="#fdf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut asperiores sunt magni, tempore neque impedit in?
                                            </font>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" align="center" valign="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center">
                                <tr>
                                    <td align="center" valign="middle" bgcolor="#635380" height="190">
                                        <font size="6" color="#FFBA08">
                                            <span class="fa fa-pencil"></span></font>
                                        <br><br>
                                        <font size="5" color="#FFDDFF"><strong>Creative Design</strong></font>
                                        <br>
                                        <p>
                                            <font face="Tangerine" size="5" color="#fdf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut asperiores sunt magni, tempore neque impedit in?
                                            </font>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="33.33%" align="center" valign="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center">
                                <tr>
                                    <td align="center" valign="middle" bgcolor="#635380" height="190">
                                        <font size="6" color="#FFBA08">
                                            <span class="fa fa-code"></span></font>
                                        <br><br>
                                        <font size="5" color="#FFDDFF"><strong>Clean Code</strong></font>
                                        <br>
                                        <p>
                                            <font face="Tangerine" size="5" color="#fdf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut asperiores sunt magni, tempore neque impedit in?
                                            </font>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" align="center" valign="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center">
                                <tr>
                                    <td align="center" valign="middle" bgcolor="#635380" height="190">
                                        <font size="6" color="#FFBA08">
                                            <span class="fa fa-support"></span></font>
                                        <br><br>
                                        <font size="5" color="#FFDDFF"><strong>Fast Support</strong></font>
                                        <br>
                                        <p>
                                            <font face="Tangerine" size="5" color="#fdf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut asperiores sunt magni, tempore neque impedit in?
                                            </font>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" align="center" valign="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center">
                                <tr>
                                    <td align="center" valign="middle" bgcolor="#635380" height="190">
                                        <font size="6" color="#FFBA08">
                                            <span class="fa fa-rocket"></span></font>
                                        <br><br>
                                        <font size="5" color="#FFDDFF"><strong>Branding Identity</strong></font>
                                        <br>
                                        <p>
                                            <font face="Tangerine" size="5" color="#fdf">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut asperiores sunt magni, tempore neque impedit in?
                                            </font>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- start section padding bottom -->
                    <tr>
                        <td height="35" colspan="3">
                        </td>
                    </tr>
                    <!-- end section padding bottom -->
                </table>
            </td>
        </tr>
    </table>

    <!-- End Services -->
    <!-- Start Skills -->
    <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#635380">
        <tr>
            <td>
                <table border="0" width="85%" cellpadding="10" cellspacing="0" align="center">
                    <!-- Heading Start-->
                    <tr>
                        <td height="160" align="center" valign="middle" colspan="2">
                            <font face="Tangerine" size="8" color="#FFBA08">Skills</font>
                            <hr width="100" color="#FFBA08">
                        </td>
                    </tr>
                    <!-- Heading End -->
                    <tr>
                        <td width="50%" height="100" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td align="left" valign="top" height="30">
                                        <font size="5" color="#ffddff">HTML5</font>
                                    </td>
                                    <td align="right" valign="top" height="30">
                                        <font size="5" color="#ffddff">80%</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#49306B" align="left">
                                        <table border="0" width="80%" cellpadding="10" cellspacing="0" bgcolor="#FFBA08">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td width="50%" height="100" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td align="left" valign="top" height="30">
                                        <font size="5" color="#ffddff">CSS3</font>
                                    </td>
                                    <td align="right" valign="top" height="30">
                                        <font size="5" color="#ffddff">45%</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#49306B" align="left">
                                        <table border="0" width="45%" cellpadding="10" cellspacing="0" bgcolor="#FFBA08">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td width="50%" height="100" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td align="left" valign="top" height="30">
                                        <font size="5" color="#ffddff">Javascript</font>
                                    </td>
                                    <td align="right" valign="top" height="30">
                                        <font size="5" color="#ffddff">50%</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#49306B" align="left">
                                        <table border="0" width="50%" cellpadding="10" cellspacing="0" bgcolor="#FFBA08">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td width="50%" height="100" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td align="left" valign="top" height="30">
                                        <font size="5" color="#ffddff">Php</font>
                                    </td>
                                    <td align="right" valign="top" height="30">
                                        <font size="5" color="#ffddff">10%</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#49306B" align="left">
                                        <table border="0" width="10%" cellpadding="10" cellspacing="0" bgcolor="#FFBA08">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td width="50%" height="100" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td align="left" valign="top" height="30">
                                        <font size="5" color="#ffddff">Java</font>
                                    </td>
                                    <td align="right" valign="top" height="30">
                                        <font size="5" color="#ffddff">85%</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#49306B" align="left">
                                        <table border="0" width="85%" cellpadding="10" cellspacing="0" bgcolor="#FFBA08">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td width="50%" height="100" valign="top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td align="left" valign="top" height="30">
                                        <font size="5" color="#ffddff">React</font>
                                    </td>
                                    <td align="right" valign="top" height="30">
                                        <font size="5" color="#ffddff">25%</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#49306B" align="left">
                                        <table border="0" width="25%" cellpadding="10" cellspacing="0" bgcolor="#FFBA08">
                                            <tr>
                                                <td height="10"></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <!-- start section padding bottom -->
                    <tr>
                        <td height="80" colspan="2">
                        </td>
                    </tr>
                    <!-- end section padding bottom -->
                </table>
            </td>
        </tr>
    </table>
    <!-- End Skills -->
    <!-- Start Portfolio -->
    <table id="portfolio" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#49306B">
        <tr>
            <td>
                <table border="0" width="85%" cellpadding="10" cellspacing="0" align="center">
                    <!-- Heading Start-->
                    <tr>
                        <td height="160" align="center" valign="middle" colspan="3">
                            <font face="Tangerine" size="8" color="#FFBA08">Portfolio</font>
                            <hr width="120" color="#FFBA08">
                        </td>
                    </tr>
                    <!-- Heading End -->
                    <tr>
                        <td width="33.33%" align="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#635380">
                                <tr>
                                    <td>
                                        <font size="6" color="#ffddff"><strong>Project Title</strong>
                                        </font>
                                        <br><br>
                                        <font size="4" color="#FFBA08"><strong>Web Development</strong>
                                        </font><br><br>
                                        <img src="port1.jpg" alt="" width="100%" height="230">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" align="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#635380">
                                <tr>
                                    <td>
                                        <font size="6" color="#ffddff"><strong>Project Title</strong>
                                        </font>
                                        <br><br>
                                        <font size="4" color="#FFBA08"><strong>Web Development</strong>
                                        </font><br><br>
                                        <img src="port2.jpg" alt="" width="100%" height="230">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" align="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#635380">
                                <tr>
                                    <td>
                                        <font size="6" color="#ffddff"><strong>Project Title</strong>
                                        </font>
                                        <br><br>
                                        <font size="4" color="#FFBA08"><strong>Web Design</strong>
                                        </font><br><br>
                                        <img src="port3.jpg" alt="" width="100%" height="230">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td width="33.33%" align="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#635380">
                                <tr>
                                    <td>
                                        <font size="6" color="#ffddff"><strong>Project Title</strong>
                                        </font>
                                        <br><br>
                                        <font size="4" color="#FFBA08"><strong>Branding</strong>
                                        </font><br><br>
                                        <img src="port4.jpg" alt="" width="100%" height="230">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" align="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#635380">
                                <tr>
                                    <td>
                                        <font size="6" color="#ffddff"><strong>Project Title</strong>
                                        </font>
                                        <br><br>
                                        <font size="4" color="#FFBA08"><strong>Graphic Design</strong>
                                        </font><br><br>
                                        <img src="port5.jpg" alt="" width="100%" height="230">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" align="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#635380">
                                <tr>
                                    <td>
                                        <font size="6" color="#ffddff"><strong>Project Title</strong>
                                        </font>
                                        <br><br>
                                        <font size="4" color="#FFBA08"><strong>UI/UX</strong>
                                        </font><br><br>
                                        <img src="port6.jpg" alt="" width="100%" height="230">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- start section padding bottom -->
                    <tr>
                        <td height="100" colspan="3">
                        </td>
                    </tr>
                    <!-- end section padding bottom -->
                </table>
            </td>
        </tr>
    </table>
    <!-- End Portfolio -->
    <!-- Start Team -->
    <table id="team" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#635380">
        <tr>
            <td>
                <table border="0" width="85%" cellpadding="10" cellspacing="0" align="center">
                    <!-- Heading Start-->
                    <tr>
                        <td height="160" align="center" valign="middle" colspan="3">
                            <font face="Tangerine" size="8" color="#FFBA08">Team</font>
                            <hr width="80" color="#FFBA08">
                        </td>
                    </tr>
                    <!-- Heading End -->
                    <tr>
                        <td width="33.33%" valign="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#49306B">
                                <tr>
                                    <td>
                                        <img src="virat.jpg" width="100%" alt="" height="330">
                                        <br><br>
                                        <font face="Tangerine" size="6" color="#FFBA08">Virat Kohli</font>
                                        <br>
                                        <font size="4" color="#fdf"><strong>Web Developer</strong>
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" valign="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#49306B">
                                <tr>
                                    <td>
                                        <img src="rohit.jpg" width="100%" alt="" height="330">
                                        <br><br>
                                        <font face="Tangerine" size="6" color="#FFBA08">Rohit Sharma</font>
                                        <br>
                                        <font size="4" color="#fdf"><strong>App Developer</strong>
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="33.33%" valign="top">
                            <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#49306B">
                                <tr>
                                    <td>
                                        <img src="dhoni.jpg" width="100%" height="330" alt="">
                                        <br><br>
                                        <font face="Tangerine" size="6" color="#FFBA08">MS Dhoni</font>
                                        <br>
                                        <font size="4" color="#fdf"><strong>Designer</strong>
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- start section padding bottom -->
                    <tr>
                        <td height="80" colspan="3">
                        </td>
                    </tr>
                    <!-- end section padding bottom -->
                </table>
            </td>
        </tr>
    </table>
    <!-- End Team -->
    <!-- Start Contact -->
    <table id="contact" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#49306B">
        <tr>
            <td>
                <table border="0" width="50%" cellpadding="10" cellspacing="0" align="center">
                    <!-- Heading Start-->
                    <tr>
                        <td height="160" align="center" valign="middle">
                            <font face="Tangerine" size="8" color="#FFBA08">Contact Us</font>
                            <hr width="150" color="#FFBA08">
                        </td>
                    </tr>
                    <!-- Heading End -->
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" width="55%" cellpadding="20" cellspacing="0" align="center" bgcolor="#635380">
                                <tr>
                                    <td>
                                        <table border="0" width="100%" cellpadding="10" cellspacing="0" align="center" bgcolor="#635380">
                                            <tr>
                                                <td width="20%">
                                                    <font size="3" color="#fdf">Name</font>
                                                </td>
                                                <td width="80%">
                                                    <input type="text" size="50">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">
                                                    <font size="3" color="#fdf">Email</font>
                                                </td>
                                                <td width="80%">
                                                    <input type="email" size="50">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">
                                                    <font size="3" color="#fdf">Subject</font>
                                                </td>
                                                <td width="80%">
                                                    <input type="text" size="50">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">
                                                    <font size="3" color="#fdf">Message</font>
                                                </td>
                                                <td width="80%">
                                                    <textarea cols="52" rows="4"></textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%">
                                                    &nbsp;
                                                </td>
                                                <td width="50">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <button type="submit">
                                                        <font size="4">
                                                            Submit</font>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- start section padding bottom -->
                    <tr>
                        <td height="100">
                        </td>
                    </tr>
                    <!-- end section padding bottom -->
                </table>
            </td>
        </tr>
    </table>
    <!-- End Contact -->
    <!-- Start Footer -->
    <table boreder="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#635380">
        <tr>
            <td>
                <table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
                    <tr>
                        <td width="33.33%" valign="top">
                            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center">
                                <tr>
                                    <td align="center" valign="top">
                                        <font color="#FFBA08" size="5">
                                            <span class="fa fa-phone"></span>
                                        </font>
                                        <br><br>
                                        <font color="#fff" size="4">Phone</font>
                                        <p>
                                            <font color="#fdf" size="3">+91 8********8</font>
                                        </p>
                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td width="33.33%" valign="top">
                            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center">
                                <tr>
                                    <td align="center" valign="top">
                                        <font color="#FFBA08" size="5">
                                            <span class="fa fa-envelope"></span>
                                        </font>
                                        <br><br>
                                        <font color="#fff" size="4">Email</font>
                                        <p>
                                            <font color="#fdf" size="3">liviofranm@gmail.com</font>
                                        </p>
                                    </td>
                                </tr>
                            </table>

                        </td>
                        <td width="33.33%" valign="top">
                            <table border="0" width="100%" cellpadding="15" cellspacing="0" align="center">
                                <tr>
                                    <td align="center" valign="top">
                                        <font color="#FFBA08" size="5">
                                            <span class="fa fa-map-marker"></span>
                                        </font>
                                        <br><br>
                                        <font color="#fff" size="4">Location</font>
                                        <p>
                                            <font color="#fdf" size="3">Goa, India</font>
                                        </p>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr noshade>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="100" valign="top">
                            <table border="0" width="30%" cellpadding="0" cellspacing="0" align="center">
                                <tr>
                                    <td width="25%" align="center">
                                        <table border="0" width="50" cellpadding="0" cellspacing="0" align="center" bgcolor="#FFBA08" height="50">
                                            <tr>
                                                <td align="center" valign="middle">
                                                    <a href="https://www.facebook.com/Livio.Fran.Mascarenhas" target="_blank">
                                                        <font size="5" color="#fff">
                                                            <span class="fa fa-facebook"></span></font>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="25%" align="center">
                                        <table border="0" width="50" cellpadding="0" cellspacing="0" align="center" bgcolor="#FFBA08" height="50">
                                            <tr>
                                                <td align="center" valign="middle">
                                                    <a href="">
                                                        <font size="5" color="#fff">
                                                            <span class="fa fa-google-plus"></span>
                                                        </font>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="25%" align="center">
                                        <table border="0" width="50" cellpadding="0" cellspacing="0" align="center" bgcolor="#FFBA08" height="50">
                                            <tr>
                                                <td align="center" valign="middle">
                                                    <a href="">
                                                        <font size="5" color="#fff">
                                                            <span class="fa fa-linkedin"></span>
                                                        </font>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="25%" align="center">
                                        <table border="0" width="50" cellpadding="0" cellspacing="0" align="center" bgcolor="#FFBA08" height="50">
                                            <tr>
                                                <td align="center" valign="middle">
                                                    <a href="https://www.instagram.com/x.wireless.brain.18.x/" target="_blank">
                                                        <font size="5" color="#fff">
                                                            <span class="fa fa-instagram"></span>
                                                        </font>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- End Footer -->
</body>

</html>