<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Free Web tutorials">
  <meta name="keywords" content=" VIT, Vellore Institute Of Technology, Aviral, Developer, HTML, CSS, JavaScript">
  <meta name="author" content="Aviral Srivastava">
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="11.png " >

<link rel="stylesheet" type="text/css" href="hellopage.css">
	<title>Aviral Srivastava</title>
</head>
<body style="background: steelblue;">
	<div class="card">
		<div align="left">
             <img src="11.png" width="200vw" height="200vh"  align="right">
             <br>
		<h1 style="color: darkblue;" align="center">AVIRAL SRIVASTAVA</h1>
              <h2>Hii There ! It's me Aviral.<br>
              🖋️  VIT'24<br>
              🕸️  Frontend Developer<br>
              🧑‍💻  Coding Enthusiest<br>
              ☕  Coffee Lover 
                </h2>
                <center><a href="me.html"><img src="hellohand.png" width="120vw" height="150vh"align="center"></a></center>
         <center>Wave at me to Know More👋</center>
		</div>

		
</body>
</html>