<html>
    <head>
        <title>
            Aashutosh Konge | Personal Website
        </title>
        <link href="/home/aashutosh/SimpleBio/template/kaash-bot/style.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class=main>
            <center>
                <a href="https://www.instagram.com/prophet_kante/"><img src="file:///home/aashutosh/default.png" align="right"></a>
                <h1>Hey There!</h1>
                <p id="name">Aashutosh Konge<br>Undergrad</p>
                <br>
                <p id="about">I am an undergrad student at <a href="https://www.pes.edu/" target="_blank"><span>PES University</span></a>. I am enthusiastic about open source contribution.
                    I still am a work-in-progress but you can see my work <a href="https://github.com/kaash-bot?tab=repositories">here</a>.
                    When I'm not on my PC I enjoy watching & playing football.
                </p>
                <p><span style="font-weight: bold;text-align: center ;">Thank you for your time!</span></p>
            
                <p>You can reach me at:
                    <table>
                        <tr>
                            <td><a href="https://www.facebook.com/aashutosh.rao1611"><i class="fa fa-facebook"></i></a></td>
                            <td><a href="https://twitter.com/prophet_kante"><i class="fa fa-twitter"></i></a></td>
                        </tr>
                    </table>  
                </p>                  
            </center>
        </div>
    </body>
</html>