<html>
    <!--- Simple Bio template -->
    <!---  Author - Zubair-12 -->
    <head>
    
    <title>Zubair Ahmed | Personal Website</title>
        
    <!--- Default Stylesheet -->
    <link href="./style.css" rel="stylesheet">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
        
    </head>
    
<body>

 <div class="main">
    
   <center>
       
        <div class="about">
            <a href="https://www.instagram.com/khushk.ahmed/?hl=en">
            <img src="./2.png" width="330" height="330" class="main-img">
            </a>
            <h3><span>Zubair</span></h3>
            <button class="btn btn-lg btn-yellow">Hi it's me Zubair here!</button>
            <p>I am <b>zubair ahmed</b>. I like to play <b>football</b>. My <b>GitHub</b> account is  
                   <a href="https://github.com/Zubair-12">here</a>. 
                    I always have thirst to learn something new. 
                     Current I am undergraduate at 
                    <a href="https://www.muet.edu.pk/" target="_blank">MUET University Jamshoro.</a>
                         <br/><span>Thanks!</span>
            </p>
          
           <p>Here is my email<a href="mailto:zubairbrave9@gmail.com">zubairbrave9@gmail.com</a></p>
            
            <hr>
            
            <ul class="social">
              <li><a href="https://web.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/zubair-ahmed-khushk-1092471a6/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://twitter.com/Zubair24140407" target="_blank"><i class="fa fa-twitter"></i></a></li>
            </ul>
            
          </div>
       
    </center>
    
 </div>
    
</body>
    
<!---Thanks to Vinit Shahdeo -->
    
</html>