<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lagan</title>
    <link rel="stylesheet" type="text/css" media="screen" href="./main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.0/dist/confetti.browser.min.js"></script>
</head>
<body>
<div class="SL">
<div class="container" id="container">
<div class="form-container about-container">
	<form action="#">
		<a href=""><h1 class="name-main">Lagan Gupta</h1></a>
                    <p>Enthusiastic front end developer, ready to tackle the challenges that come in the way. Currently, I am a student at Vellore
                        Institute of Technology pursuing Computer Science.
                    </p>
                    <button type="ghost" class="Visit-trigger" id="button-main">Thank you for visiting!</button>
	</form>
</div>
<div class="canvas-confetti">
    <script src="main.js"></script>
  </div>
<div class="overlay-container">
	<div class="overlay">
		
		<div class="overlay-panel overlay-right">
            <h1 id="head-contact">Reach me</h1>
                <p><strong>Get in touch with me or just drop a 'Hi' 
                    Follow me on social media</strong></p>
                <ul class="social">
                    <li><a href="http://www.instagram.com/lagan_28" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li><a href="http://www.linkedin.com/in/lagan-gupta-2493911b0" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/lagangupta3" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter fa-2x"></i></a></li>
                </ul>
        </div>
	</div>
</div>
</div>


</div>
</body>
</html>