<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Tail Test</title>
    <meta name="description" content="Tail Test" />
    <meta name="author" content="SitePoint" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>My website</title>
  </head>

  <body>
    <header class="text-gray-700 body-font">
      <div
        class="container mx-auto flex flex-wrap p-1 flex-col md:flex-row items-center"
      >
        <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
          <a class="mr-5 hover:text-gray-900" href="index.html">Home</a>
          <a class="mr-5 hover:text-gray-900" href="index.html">About Me</a>
          <a class="mr-5 hover:text-gray-900" href="contact.html">Contact Me</a>
        </nav>
        <a
          class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0"
        >
          <!--
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"
            ></path>
          </svg>-->
          <img class="h-16 w-16 mx-auto" src="work.png" />
          <span class="ml-3 text-xl">Sameer Mahajan</span>
        </a>
        <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
          <!-- <button
            class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0"
          >
            
          </button>-->
        </div>
      </div>
    </header>
    <!----------------------------------------------------------------------->
    <section class="text-gray-700 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h2
            class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1"
          >
            Software Developer
          </h2>
          <h3
            class="sm:text-xl text-xl font-small title-font mb-4 text-gray-900"
          >
            Hey there, I am Sameer and Welcome to my website
          </h3>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
            I am a Computer Science Graduate from Mumbai University with a keen
            interest in software development, web development and data science.
            In my free time I like to keep myself updated about new happenings
            in my surroundings. Also I love travelling and explore new places.
            <br />
            My interest lies in
          </p>
        </div>
        <div class="flex flex-wrap">
          <div
            class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200"
          >
            <h2
              class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"
            >
              <img
                src="https://img.icons8.com/ios-filled/50/000000/python.png"
              />
              Python
            </h2>
            <p class="leading-relaxed text-base mb-4">
              Fingerstache flexitarian street art 8-bit waistcoat. Distillery
              hexagon disrupt edison bulbche.
            </p>
          </div>
          <div
            class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200"
          >
            <h2
              class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"
            >
              <img src="https://img.icons8.com/ios-filled/50/000000/sql.png" />
              SQL
            </h2>
            <p class="leading-relaxed text-base mb-4">
              Fingerstache flexitarian street art 8-bit waistcoat. Distillery
              hexagon disrupt edison bulbche.
            </p>
          </div>
          <div
            class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200"
          >
            <h2
              class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"
            >
              <img src="https://img.icons8.com/ios/50/000000/web.png" />
              Web Development
            </h2>
            <p class="leading-relaxed text-base mb-4">
              Fingerstache flexitarian street art 8-bit waistcoat. Distillery
              hexagon disrupt edison bulbche.
            </p>
          </div>
          <div
            class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200"
          >
            <h2
              class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2"
            >
              <img
                src="https://img.icons8.com/wired/64/000000/artificial-intelligence.png"
              />
              Data Science
            </h2>
            <p class="leading-relaxed text-base mb-4">
              Fingerstache flexitarian street art 8-bit waistcoat. Distillery
              hexagon disrupt edison bulbche.
            </p>
          </div>
        </div>
        <div class="flex flex-col text-center w-full mb-0">
          <h3
            class="sm:text-xl text-xl font-small title-font mb-4 text-gray-900"
          >
            Interested in working together
          </h3>
        </div>
        <button
          class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
        >
          <a href="contact.html">Let's Collaborate</a>
        </button>
      </div>
    </section>
    <!----------------------------------------------------------------------->
    <footer class="text-gray-700 body-font">
      <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <img class="h-16 w-16 mx-auto" src="work.png" />

          <span class="ml-3 text-xl">Sameer Mahajan</span>
        </a>
        <p
          class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          © 2020 Sameer Mahajan —
          <a
            href="https://www.instagram.com/sameermahajan09/"
            class="text-gray-600 ml-1"
            rel="noopener noreferrer"
            target="_blank"
            >@mahajansameer</a
          >
        </p>
        <span
          class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
          <a class="text-gray-500" href="https://www.facebook.com/">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500" href="https://www.twitter.com">
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500" href="https://www.instagram.com">
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path
                d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
              ></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-500" href="https://www.linkedin.com">
            <svg
              fill="currentColor"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                stroke="none"
                d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
              ></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </footer>
  </body>
</html>
