<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="styles/portfolio.css">
  </head>
  <body>
  <div id="navbar">
    <a href="#welcome-section">About</a>
    <a href="#projects">Work</a>
    <a href="#profile">Contact</a>
  </div>
  <div id="welcome-section">
    <p id="large-font">Hey I am your_name</p>
    <h1 id="mid-font">A Web Developer</h1>
  </div>
  <div id="projects">
    <h1 id="projects-header">These are some of my projects</h1>
    <div class="project-tile">
    <a href="" target="_blank">
    <img src="" alt="Tribute Page">
    <h2>Tribute Page</h2></a>
    </div>
    <div class="project-tile">
    <a href="" target="_blank">
    <img src="" alt="technical documentation page">
    <h2>Technical documentation Page</h2></a>
    </div>
    <div class="project-tile">
    <a href="" target="_blank">
    <img src="" alt="Product Landing Page">
    <h2>Product Landing Page</h2></a>
    </div>
    <div class="project-tile">
    <a href="" target="_blank">
    <img src="" alt="Survey Form Page">
    <h2>Survey Form Page</h2></a>
    </div>
    <div class="project-tile">
    <a href="" target="_blank">
    <img src="" alt="Flex Layout Page">
    <h2>Flex Layout Page</h2></a>
    </div>
  </div>
  <div id="profile">
    <p id="large-font">Let's work together...</p>
    <p id="mid-font">How do you take your coffee?</p>
    <a href="" id="profile-link" target="_blank">GitHub</a>
    <a href="" id="profile-link" target="_blank">Twitter</a>
    <a href="" id="profile-link" target="_blank">FreeCodeCamp</a>
  </div>
  </body>
</html>
