<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-3 coverProfile mT20 col-xs-offset-2 dropShadow">
                <div class="row">
                    <div class="col rel dropShadow">
                        <a class="btn hireBtn" href="https://www.linkedin.com/in/pingunnatimishra/">HIRE ME</a>
                        <img class="img-fluid" src="https://i.ibb.co/THJrtwq/me.jpg">

                    </div>
                </div>

                <div class="col rubyColor profileDetails ">
                    <h3>Unnati Mishra</h3>
                    <p>Frontend Web Developer</p>
                    <hr>
                    <p>A highly motivated tech enthusiast, having a beginner level experience in working and managing
                        clients and their work
                        with the aim of improving my surroundings with my friendly behavior and innovative mind with
                        budding
                        solutions.
                    </p>
                    <hr>
                    <p>"All our dreams can come true, if we have the courage to pursue them." – Walt Disney.
                    </p>
                    <div class="row text-center">
                        <div class="col socialIcons">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-link" href="https://twitter.com/ping_Unnati">
                                    <i class="icon ion-social-twitter"></i>
                                </a>

                                <a class="btn btn-link" href="https://github.com/CodesbyUnnati">
                                    <i class="icon ion-social-github"></i>
                                </a>
                                <a class="btn btn-link" href="https://www.linkedin.com/in/pingunnatimishra/">
                                    <i class="icon ion-social-linkedin"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col"></div>
        </div>
    </div>
</body>

</html>
