<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<title>Card</title>
</head>
<body>
<div class="card__collection clear-fix">
    <div class="cards cards--two">
        <img src="image1.jpg" class="img-responsive" alt="Cards Image">
        <span class="cards--two__rect"></span>
        <span class="cards--two__tri"></span>
        <p>Satyam Yadav</p>
        <ul class="cards__list">
          <li><a href="https://github.com/satyam-yadav24"  target="_blank" class="fa fa-github"></a></li>
          <li><a href="https://twitter.com/Satyam_yadav24"  target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://www.linkedin.com/in/satyam-yadav-2401" target="_blank"  class="fa fa-linkedin"></a></li>
          <li><a href=" https://www.instagram.com/satyam.y2401"  target="_blank" class="fa fa-instagram"></a></li>
          
        </ul>
      </div>
    <div class="card">
        <div class="image">
          <img src="image2.jpg"/>
        </div>
        <div class="details">
          <div class="center">
            <h1>Satyam Yadav<br><span>Student</span></h1>
            <p>A B.tech student with branch - Electronics and Telecommunication. Have a look on my profiles.</p>
            <ul>
                <li><a href="https://github.com/satyam-yadav24"  target="_blank" class="fa fa-github"></a></li>
                <li><a href="https://twitter.com/Satyam_yadav24"  target="_blank" class="fa fa-twitter"></a></li>
                <li><a href="https://www.linkedin.com/in/satyam-yadav-2401" target="_blank"  class="fa fa-linkedin"></a></li>
                <li><a href=" https://www.instagram.com/satyam.y2401"  target="_blank" class="fa fa-instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cards cards--three">
        <img src="image3.jpg" class="img-responsive" alt="">
        <span class="cards--three__rect-1">
          <span class="shadow-1"></span>
          <p>Satyam Yadav</p>
        </span>
        <span class="cards--three__rect-2">
          <span class="shadow-2"></span>
        </span>
        <span class="cards--three__circle"></span>
        <ul class="cards--three__list">
            <li><a href="https://twitter.com/Satyam_yadav24"  target="_blank" class="fa fa-twitter"></a></li>
          <li><a href="https://www.linkedin.com/in/satyam-yadav-2401" target="_blank"  class="fa fa-linkedin"></a></li>
            <li><a href=" https://www.instagram.com/satyam.y2401"  target="_blank" class="fa fa-instagram"></a></li>
        </ul>
      </div>
    </div>
</body>
</html>