<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ivan Elv Template</title>
    <link href="https://fonts.googleapis.com/css?family=Overpass|Varela+Round|Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
    <script src="https://kit.fontawesome.com/6bb05fc3e4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="left-section">
                <div class="photo-profile-wrapper">
                    <!-- <img src="./img/ivanelv.jpg" alt="Ivan Elv"> -->
                </div>

                <h2 class="title">
                    Ivan Favian Elianto
                </h2>

                <h4 class="subtitle">
                    Programmer
                </h4>

                <h5 class="subtitle email-content">
                    <a href="mailto:purenaturalism@gmail.com">
                        purenaturalism@gmail.com
                    </a>
                </h5>

                
            </div>

            <div class="right-section">
                <p class="self-short-description">
                    Hello, My name is Ivan, I had start code since 2014. 
                    Primary focus on web and desktop app development.
                    Love to talk and exchange opinion about life.
                </p>

                <div class="contact">
                    <div class="social-media-wrapper">
                        <span class="instagram logo">
                            <i class="fab fa-instagram"></i>
                        </span>
                        <a href="https://instagram.com/ivan.elv" target="_blank" class="social-media-name">Instagram</a>
                    </div>

                    <div class="social-media-wrapper">
                        <span class="facebook logo">
                            <i class="fab fa-facebook"></i>
                        </span>
                        <a href="https://facebook.com/frold.wice" target="_blank" class="social-media-name">Facebook</a>
                    </div>

                    <div class="social-media-wrapper">
                        <span class="line logo">
                            <i class="fab fa-line"></i>
                        </span>
                        <a href="#" class="social-media-name">@ivanelv</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>