<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Krona Emmanuel</title>

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">


    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="header">
        <div class="navbar">
            <div class="navbar-left">
                <a href="#" class="logo"><span class="bold">Krona</span>Emmanuel</a>
            </div>
            <div class="navbar-right">
                <ul class="nav">
                    <li class="nav-item"><a href="#">About</a></li>
                    <li class="nav-item"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="title-container">

                <h1 class="page-title" data-depth="0.8">
                    <p>K</p>
                    <p>R</p>
                    <img class="pattern1 art1" src="pattern1.png" alt="">
                    <p>N</p>
                    <p>A</p>
                </h1>
                <h4 class="page-subtitle" data-depth="0.8">Emmanuel</h4>
        </div>

        <div class="subtext-container">
            <p class="subtext">I like to build cool stuff. :P </p>
        </div>

        <div class="hireme-container">
            <a href="#" class="hireme">Hire Me <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>

</body>

</html>