<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Chandrika Deb</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/hearts.png" type="image/x-icon" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Indie+Flower'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/flexslider.css">
        <link rel="stylesheet" href="css/services.css">

    </head>

    <body>

        <div class="header">
            <div class="fixed-content">
                <img class="port" src="img/pic01.jpg">
                <h2>Chandrika Deb</h2>
                <p style="color:#fff;">Web Developer | ML Enthusiast</p>
                <div class="icon-row">
                    <a href="https://github.com/chandrikadeb7"><i class="fa fa-github"></i></a>
                    <a href="https://medium.com/@chandrikadeb7"><i class="fa fa-medium"></i></a>
                    <a href="https://www.linkedin.com/in/chandrika-deb/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/chandrikadeb7"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="second">
            <div class="fixed-content">
                <h1>Summary</h1>
                <p>Final year Computer Science undergraduate pursuing Bachelor of Engineering at Birla Institute of
                    Technology, Mesra. Interested in developing Python/Deep Learning mini projects and Web development
                    using PHP/MySQL and HTML/CSS/Javascript.<br> Further, I'm keen towards the Data Science field.</p>
            </div>
        </div>

        <section class="colorlib-about" data-section="about">
            <div class="container">
                <div class="row">
                    <script type="text/javascript">
                        var domains = ["Web Development", "Course Solutions", "Code Snippets", "Machine Learning"];
                        var icons = ["desktop", "key", "code", "university"];
                        var urls = ["web_projects/index.html", "web_projects/index2.html", "web_projects/index3.html",
                            "web_projects/index4.html"
                        ];
                        var ids = [3, 4, 2, 1];
                        for (let i = 0; i < domains.length; i++) {
                            var dir = (ids[i] % 2 == 0) ? "Right" : "Left";
                            document.write(
                                '<div class="col-sm-3 animate-box" data-animate-effect="fadeIn' + dir + '">\
                              <a href="' + urls[i] + '" >\
                                <div class="services color-' + ids[i] + '">\
                                  <span class="icon2"><i class="fa fa-' + icons[i] + '"></i></span>\
                                  <h3>' + domains[i] + '</h3>\
                                </div>\
                              </a>\
                            </div>'
                            );
                        }

                    </script>
                </div>
            </div>
        </section>

        <br>
        <br>

        <section class="colorlib-skills" data-section="skills">
            <div class="colorlib-narrow-content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <h2>My Skills</h2>
                        <hr>
                    </div>
                </div>
                <p class="animate-box" data-animate-effect="fadeInLeft">Few of the skills that I consider myself
                    acquainted with, to serve the given opportunity are showcased here.</p>
                <div class="container">
                    <div class="row">
                        <script type="text/javascript">
                            var skills = ["C", "Python", "Java", "HTML/CSS/Javascript", "PHP", "MySQL", "GitHub/Git",
                                "Machine Learning"
                            ];
                            var value = [75, 85, 70, 80, 75, 70, 80, 65];
                            for (let i = 0; i < skills.length; i++) {
                                var dir = (i % 2 == 0) ? "Right" : "Left";
                                document.write(
                                    '<div class="col-md-6 animate-box" data-animate-effect="fadeIn' + dir + '">\
                                  <div class="progress-wrap">\
                                      <h3>' + skills[i] + '</h3>\
                                      <div class="progress">\
                                          <div class="progress-bar color-' + (i + 1) +
                                    '" role="progressbar" aria-valuenow="' + value[i] +
                                    '" aria-valuemin="0" aria-valuemax="100" style="width:' + value[i] + '%">\
                                              <span>' + value[i] + '%</span>\
                                          </div>\
                                      </div>\
                                  </div>\
                              </div>');
                            }

                        </script>
                    </div>
                </div>
        </section>

        <br>
        <br>

        <section class="colorlib-experience" data-section="experience">
            <div class="colorlib-narrow-content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <h2>Work Experience</h2>
                        <hr>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="timeline-centered">
                                <script type="text/javascript">
                                    var timeSpan = ["May 2018 - June 2018", "May 2019 - June 2019",
                                        "Feb 2019 - March 2019", "March 2020 - Present"
                                    ];
                                    var AT = ["Xavier Institute Of Management (XLRI), Jamshedpur",
                                        "Central Coalfields Limited (CCL), Ranchi",
                                        "Technical Head, Utthaan-2019 (Annual techno-cultural fest) at BIT Mesra",
                                        "Girlscript Summer of Code 2020 - Participant"
                                    ];
                                    var internType = ["Research Intern", "Systems Department Intern", "Lead Volunteer",
                                        "Open Source Contributor"
                                    ];
                                    var descriptions = [
                                        "Meta analysis and a literature review on the topics 'Knowledge Hiding', 'Ethical Leadership', 'Ethical Culture', 'Ethical Climate' and 'Unethical Behaviour' and represented the data trend by R programming under Prof. Jatinder Kr. Jha.",
                                        "Project on developing a fully working dynamic eCommerce website using PHP and MySQL.",
                                        "Volunteered as the Technical Head in annual Techno-Cultural fest Utthaan '19 organised in Birla Institute Of Technology, Mesra. My responsibilities were to organise various technical events such as Coding competitions, Robotic wars etc. through a span of three day fest (16.03.2019-18.03.2019).",
                                        "Open source contribution to the project 'Algo Ds Notes'. Contributed the implementation of various algorithms like Tower of Hanoi, Egg Dropping Puzzle, Minesweeper Game in programming languages like PHP, C# etc."
                                    ];
                                    var iclass = ["desktop", "code", "user", "globe"];
                                    var color = [5, 1, 2];
                                    for (let i = 0; i < AT.length; i++) {
                                        var dir = (i % 2 == 0) ? "Right" : "Left";
                                        document.write(
                                            '<article class="timeline-entry animate-box" data-animate-effect="fadeIn' +
                                            dir + '">\
										<div class="timeline-entry-inner">\
											<div class="timeline-icon color-' + color[i] + '">\
												<i class="fa fa-' + iclass[i] + '"></i>\
											</div>\
											<div class="timeline-label">\
												<h2><a href="#">' + AT[i] + '</a> <span>' + timeSpan[i] + '</span></h2>\
												<p><strong><a href="#">' + internType[i] + '</a></strong>\
													<br> ' + descriptions[i] + '</p>\
												<p></p>\
											</div>\
										</div>\
									</article>');
                                    }

                                </script>
                                <article class="timeline-entry begin animate-box" data-animate-effect="fadeInBottom">
                                    <div class="timeline-entry-inner">
                                        <div class="timeline-icon color-3">
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
        </section>


        <section class="colorlib-project" data-section="project">
            <div class="colorlib-narrow-content">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                        <h2>Projects</h2>
                        <hr>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <script type="text/javascript">
                            var domains = ["Covid-19 Helpdesk",
                                "A real time face recognition system",
                                "A Chatbot based social networking website",
                                "eCommerce website development.",
                                "Student Management System"
                            ];
                            var ppDomains = [
                                "Covid-19 helpdesk for tracking moderate and high risk patients around us along with online doctor portal.",
                                "A real time face recognition system developed in Python using Pillow, OpenCV and NumPy",
                                "Guided by Prof. Neena Jha, Computer Science and Engineering, BIT Mesra.  A Chabot based social networking website dedicated for the students of BIT Deoghar for an independent and effective communication platform along with a Chabot having a text-based user interface for quick responses to institute related queries.",
                                "It is a simple eCommerce website highlighting inventory management and is based on PHP and MySQL with easy HTML5 and CSS3 for website rendering.",
                                "Guided by Prof. Kamta Nath Mishra, Head Of Department, Computer Science and Engineering, BIT Mesra. Java Swing based project with MySQL database developed using Netbeans IDE"
                            ];
                            var urls = ["https://github.com/chandrikadeb7/Covid-19-HelpDesk",
                                "https://github.com/chandrikadeb7/Face-Recognition-in-Python",
                                "https://github.com/chandrikadeb7/Chatbot-based-Social-Networking-Website",
                                "https://github.com/chandrikadeb7/MyOnlineStore",
                                "https://github.com/chandrikadeb7/StudentManagementSystem"
                            ];
                            var icons = ["ambulance", "camera", "comment", "rupee", "user"];
                            for (let i = 0; i < domains.length; i++) {
                                var dir = (ids[i] % 2 == 0) ? "Right" : "Left";
                                document.write(
                                    '<div class="col-md-12 animate-box" data-animate-effect="fadeIn' + dir + '">\
                              <a href="' + urls[i] + '" >\
                                <div class="services color-' + (i + 1) + '">\
                                  <span class="icon2"><i class="fa fa-' + icons[i] + '"></i></span>\
                                  <h3>' + domains[i] + '</h3>\
                                  <p>' + ppDomains[i] + '</p>\
                                </div>\
                              </a>\
                            </div>'
                                );
                            }

                        </script>
                    </div>
                </div>
            </div>
        </section>

        <section class="colorlib-carousel" data-section="carousel">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <script type="text/javascript">
                        var numCarousel = 4;
                        for (let i = 0; i < numCarousel; i++)
                            document.write(
                                '<li data-target="#carouselExampleIndicators" data-slide-to="' + i + '"' + (i == 0 ?
                                    ' class="active"' : '') + '></li>'
                            );

                    </script>
                </ol>
                <div class="carousel-inner text-center" style="max-height:600px;">
                    <script type="text/javascript">
                        for (let i = 0; i < numCarousel; i++)
                            document.write(
                                '<div class="carousel-item ' + (i == 0 ? 'active' : '') + '">\
								<img class="w-30" src="img/img' + (i + 1) + '.jpg" alt="Slide' + (i + 1) + '">\
							</div>');

                    </script>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>


        <div class="footer">
            <div class="second">
                <div class="fixed-content">
                    <h1>Contact Me</h1>
                </div>
            </div>
            <div class="fixed-content">
                <div class="icon-row blue">
                    <a href="https://twitter.com/chandrikadeb7"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/chandrika17deb/"><i class="fa fa-facebook"></i></a>
                    <a href="mailto:chandrikadeb7@gmail.com"><i class="fa fa-envelope"></i><a/a> <a
                            href="https://stackoverflow.com/users/11589082/chandrika-deb"><i
                                class="fa fa-stack-overflow"></i></a>
                        <a href="https://www.instagram.com/___cd.___/?hl=en"><i class="fa fa-instagram"></i></a>
                </div>
                <p></p>
                <i class="fa fa-chevron-up black" style="color:#000;"
                    onclick="window.scroll({  top: 0,  left: 0,  behavior: 'smooth'});"></i>
            </div>
        </div>


        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.flexslider-min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.countTo.js"></script>
        <script src="js/services.js"></script>
        <script src="js/modernizr-2.6.2.min.js"></script>
        <script src="js/script.js"></script>

    </body>

</html>
