<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="CSS/style.css"/>
</head>
<body>
   <header>
   	  <div class="container">
   	  	  <div class="logo">
   	  	  	  <a href=""><span>J</span>ay</a>
   	  	  </div>
   	  	  <div class="trigger-main">
   	  	  	 <a href="javascript:void(0);" class="ham-burger">
   	  	  	 	 <span></span>
   	  	  	 	 <span></span>
   	  	  	 </a>
   	  	  </div>
   	  	  <div class="navbar">
   	  	  	  <ul>
   	  	  	  	  <li><a href="#home" class="active">Home</a></li>
   	  	  	  	  <li><a href="#about">About</a></li>
   	  	  	  	  <li><a href="#skills">Skills</a></li>
   	  	  	  	  <li><a href="#contact">Contact</a></li>
   	  	  	  </ul>
   	  	  </div>
   	  </div>
   </header>

    
    <section class="home" id="home">
       <div class="container">
       	   <div class="home-text">
       	   	     <h1>Hi, I'm Jay Panchal</h1>
       	   </div>
       </div>
    </section>
  
 
 
    <section class="about" id="about">
       <div class="container">
       	  <h2 class="title">About Me</h2>
       	  <div class="about-content">
       	  	  <div class="img">
       	  	  	 <img src="images/about-me.jpg" alt="me">
       	  	  </div>
       	  	  <div class="description">
       	  	  	  <h4>Hi, I'm Jay Panchal</h4>
       	  	  	  <h5></h5>
                  <br>
                  <br>
                  <br>
       	  	  	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		  ssss<br>
                  <br>
                  <br>
                  <br>
                  <br>
       	  	  	  <p>
                      <a href="resume.html"><button type="button" class="btn-bg">Your CV</button></a>
       	  	  	  </p>
       	  	  </div>
       	  </div>
       </div>
    </section>
  

 
  <section class="skills" id="skills">
  	<div class="container">
  		 <h2 class="title">Skills</h2>
  		 <div class="skills-content">
  		 	 <div class="card">
               <label>Html5</label>
                  <div class="progress" data-text="50%">
                  	  <div class="inner"  style="width: 50%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="card">
               <label>Css</label>
                  <div class="progress" data-text="40%">
                  	  <div class="inner"  style="width: 40%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="card">
               <label>Javascript</label>
                  <div class="progress" data-text="10%">
                  	  <div class="inner"  style="width: 10%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="card">
               <label>Machine Learning</label>
                  <div class="progress" data-text="25%">
                  	  <div class="inner"  style="width: 25%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="card">
               <label>Deep Learning</label>
                  <div class="progress" data-text="35%">
                  	  <div class="inner"  style="width:35%">
                  	  </div>
                  </div>
  		 	 </div>
             <div class="card">
               <label>C Programming</label>
                  <div class="progress" data-text="60%">
                  	  <div class="inner"  style="width:60%">
                  	  </div>
                  </div>
  		 	 </div><div class="card">
               <label>Adobe illustrator</label>
                  <div class="progress" data-text="40%">
                  	  <div class="inner"  style="width:40%">
                  	  </div>
                  </div>
  		 	 </div>
  		 	 <div class="card">
               <label>Python</label>
                  <div class="progress" data-text="45%">
                  	  <div class="inner" style="width: 45%">
                  	  </div>
                  </div>
  		 	 </div>
  		 </div>
  	</div>
 </section>


 
   <section class="contact" id="contact">
   	 <div class="container">
   	 	  <h2 class="title">Contact Me</h2>
   	 	  <div class="contact-content">
   	 	  	  <form>
   	 	  	  	 <input type="text" placeholder="Name"/>
   	 	  	  	 <input type="text" placeholder="Email"/>
   	 	  	  	 <input type="text" placeholder="Subject"/>
   	 	  	  	 <textarea placeholder="Message"></textarea>
   	 	  	  	 <button class="btn-light">Send Message</button>
   	 	  	  </form>
   	 	  </div>
   	 </div>
   </section>
 
 
 
   <footer>
   	  <div class="container">
   	  	  <div class="footer-content">
   	  	  	  <div class="box">
   	  	  	  	  <div class="icon">
   	  	  	  	  	 <span class="fa fa-phone"></span>
   	  	  	  	  </div>
   	  	  	  	  <h4>Phone</h4>
   	  	  	  	  <p>Your Phone No.</p>
   	  	  	  </div>
   	  	  	  <div class="box">
   	  	  	  	  <div class="icon">
   	  	  	  	  	 <span class="fa fa-envelope"></span>
   	  	  	  	  </div>
   	  	  	  	  <h4>Email</h4>
   	  	  	  	  <p>Your Email</p>
   	  	  	  </div>
   	  	  	  <div class="box">
   	  	  	  	  <div class="icon">
   	  	  	  	  	 <span class="fa fa-map-marker"></span>
   	  	  	  	  </div>
   	  	  	  	  <h4>Location</h4>
   	  	  	  	  <p>Location</p>
   	  	  	  </div>
   	  	  </div>
   	  	  <div class="social-links">
   	  	  	 <ul>
   	  	  	 	<li><a><span class="fa fa-facebook"></span></a></li>
   	  	  	 	<li><a><span class="fa fa-linkedin"></span></a></li>
   	  	  	 	<li><a><span class="fa fa-github"></span></a></li>
   	  	  	 	<li><a><span class="fa fa-instagram"></span></a></li>
                  		<li><a><span class="fa fa-twitter"></span></a></li>
   	  	  	 </ul>
   	  	  </div>
   	  </div>
   </footer>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		var bottom=$("header").outerHeight();
		var header=$("header").offset().top + bottom;
     $(window).scroll(function(){
          // header fixed only when window width greater than 991px
         if($(window).width()>991){
     	if($(window).scrollTop()>=header){
     		$("header").addClass("sticky")
     	}
     	else{
     	 $("header").removeClass("sticky")	
     	}
     }
     })

     

     $(".navbar ul li a").click(function(){
     	 $(".navbar ul li a").removeClass("active")
     	 $(this).addClass("active");
     })
  
    $(".ham-burger").click(function(){
    	$(this).toggleClass("active")
    	$(".navbar").toggleClass("open");
    })

	})

</script>

</body>
</html>





