<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Arnab Sahoo</title>
  </head>
  <body>
    <div class="container">
      <div class="header-sec">
        <div class="img-sec">
          <img class="portfolio-img" src="../img//male.png" alt="arnab sahoo" />
        </div>
        <div class="text-center px-5">
          <p>Hii I'm Arnab Sahoo a Fullstack Devloper and AI/ML Enthsiast</p>
        </div>
        <hr />
        <div class="social-links">
          <div class="links">
            <a href="https://www.linkedin.com/in/arnab-sahoo-0b3427187/"
              ><img src="./assets/linkedIn.svg" alt="linkedin"
            /></a>
          </div>
          <div class="links">
            <a href="https://github.com/arnab15"
              ><img src="./assets//github.svg" alt="github"
            /></a>
          </div>
          <div class="links">
            <a href="https://arnab15.github.io/my-portfolio/"
              ><img src="./assets/website.png" alt="personalwebsite"
            /></a>
          </div>
        </div>
        <hr />
        <h4 class="text-center">Technical Skill</h4>
        <div class="skill-sec">
          <div class="row">
            <div class="skill">
              <img src="./assets/html.png" alt="" class="skill-img" />
            </div>
            <div class="skill">
              <img src="./assets/css3.png" alt="" class="skill-img" />
            </div>
            <div class="skill">
              <img src="./assets/javascript.png" alt="" class="skill-img" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="skill col">
              <img src="./assets/reactjs.png" alt="" class="skill-img" />
            </div>
            <div class="skill col">
              <img src="./assets/nodejs.png" alt="" class="skill-img" />
            </div>
            <div class="skill col">
              <img src="./assets/mongodb.png" alt="" class="skill-img" />
            </div>
            <div class="skill col">
              <img src="./assets/expressjs.svg" alt="" class="skill-img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
