<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>saltgen | Web Portfolio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <center>
    <div class="container-fluid mt-4">
      <div class="section1">
        <img src="self.png" class="img-circle" alt="display picture" />
        <div class="block">
          <h1>Hey! <i class="fa fa-hand-spock-o" aria-hidden="true"></i></h1>
          <h1>I'm Sagnik Dutta. I develop for the Web.</h1>

          <h3>Full Stack Web Developer</h3>
          <div class="btnlist">
            <a
              href="https://twitter.com/saltgen"
              class="btn btn-success"
              target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a
              href="https://github.com/saltgen"
              class="btn btn-success"
              target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a
              href="https://www.linkedin.com/in/saltgen/"
              class="btn btn-success"
              target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </center>
  </body>
</html>
