<html>
  <head>
    <title>Wallys' card</title>

    <link href="./style.css" rel="stylesheet" />

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="main">
      <div class="about">
        <img src="images/male.png" class="main-img" />
        <h3><span class="name">Wallys</span></h3>
        <button class="btn btn-lg btn-orange">Hi, there!</button>
        <p>
          I'm a developer from Brazil. I like to build things that improve
          people's lives. This card is my very first open source contribution.
          I'm open to all kind of ideas and projects, feel free to get in touch.
          <br /><span>Thank You for Visiting!</span>
        </p>

        <p>
          <a href="mailto:wallys31.souza@gmail.com">wallys31.souza@gmail.com</a>
        </p>

        <hr />

        <ul class="social">
          <li>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-github"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
