<html>
    <head>
    
    <title>Vinit Shahdeo | Personal Website</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
        
    </head>
    
<body>

 <div class="main">
    <center>
       
        <div class="about">
            <img src="img/images.jpg" class="main-img">
            <h3><span>Riya</span></h3>
            <button class="btn btn-lg btn-yellow">Hello, Glad to see you here!</button>
            <p>I am Riya Chatterjee.I am a web-developer from Jharkhand. You can view my works <a href="#">here</a>. I love to cook Pasta when I'm not working in any website. Presently I am undergraduate at    <a href="https://www.sittechno.org/" target="_blank">Siliguri Institute of Technology.</a>
                         <br/><span>Thank You for Visiting!</span>
            </p>
          
           <p>Ping me at <a href="mailto:riyaaachatterjee@gmail.com">riyaaachatterjee@gmail.com</a></p>
            
            <hr>
            
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
            
          </div>
    
 </div>
</center>   
</body>
    
<!--- Made with love by Vinit Shahdeo -->
    
</html>