<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website Portfolio</title>
    <!-- Include a Google Fonts stylesheet -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- Include Boxicons stylesheet for icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Include your own custom stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Wrapper section -->
    <section class="wrapper">
        <!-- Circles for decoration -->
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="cirlce3"></div>
        <div class ="cirlce4"></div>

        <!-- Content section -->
        <div class="content">
            <!--Title, name can be found in the script file-->
            <h1>Hi, I am <span id="name"></span> <span class="waving">👋🏾</span></h1>
            <!-- Introduction paragraph -->
            <p>Hey, I am a 21-year-old creative computing student. My current interest lies in user interaction and design, and exploring how we can make technology more friendly. 😀</p>
            <!-- Link to your work -->
            <p class="p1">Here is a link to some of my <a href="https://creativemaking.tumblr.com/" target="_blank"><span class="work">work</span></a></p>

            <!-- Social media links -->
            <!-- replace the # with your own social media links -->
            <div class="social-media">
                <p class="p2">Feel free to connect</p>
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
            <!-- Button to download your resume -->
            <a href="#" class="button">Download Resume</a>
        </div>


        <!-- Profile image section -->
        <div class="profile">
            <img src="images/Memmoji.png" alt="memoji image">
        </div>
    </section>

    <!-- Include your JavaScript file -->
    <script src="script.js"></script>
</body>
</html>
